/* Reset */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(26, 25, 25);
    background-color: #F1F1F1;
}

.cabecalho {
    display: inline;
}

.cabecalho nav {
    background: linear-gradient(90deg, rgb(98, 98, 100) 0%, rgb(177, 177, 179) 35%, rgb(214, 213, 213) 100%);
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
    display: inline;
}

a {
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease, font-weight 0.3s ease;
    display: inline-block; /* Garante que o efeito não afete o layout */
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.1); /* Mantém o tamanho do espaço e só aumenta visualmente */
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post {
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0,0,0,.2);
}

@media (min-width: 600px) {
    .content:not(:has(.single-post)) {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
}
