<style>
    header {
        margin-left: -50px;
    }

    li {
        display: inline;
        margin: 0px 10px;
    }

    a {
        color: black;
        text-decoration: none;
        transition: .5s;
    }

    a:hover {
        text-decoration: underline;
        font-weight: bold;
        font-size: large;
    }
</style>

<header>
    <nav>
        <ul>
            <li>
                <a href="{% url "home:home" %}">Home</a>
            </li>
            <li>
                <a href="{% url "blog:home" %}">Blog</a>
            </li>
            <li>
                <a href="{% url "blog:exemplo" %}">Exemplo</a>
            </li>
        </ul>
    </nav>
</header>