<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
    <style>
        body > main > h2, h3, p {
            margin: 10px 500px;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <h1>EXEMPLO 1</h1>
    <main>
        <hr>
        <h2>1. Lorem Ipsum</h2>
        <h3>1.1. Lorem Ipsum</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quia doloribus eos pariatur omnis, quam suscipit consequuntur veritatis illo doloremque obcaecati sed. Esse voluptate beatae quas ratione nulla aperiam incidunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium dolorum quasi delectus tempore ipsam officiis ullam perspiciatis, expedita odit in optio pariatur eaque illo maxime? Quam consectetur ipsa ad veniam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, officia voluptatem praesentium debitis nulla minus harum unde voluptates tenetur dicta quidem provident facere, ea velit! Amet optio quam debitis ratione. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur reprehenderit soluta, optio saepe tempore atque sint amet quasi nihil excepturi modi quisquam laboriosam obcaecati harum incidunt quia ab explicabo rerum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis ex voluptate at ea nemo nulla voluptatem atque dignissimos. Ipsam minima nisi vero est sunt molestiae illo earum cumque eum autem.</p>
        
        <h3>1.2. Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea corporis iusto magni deleniti eum accusantium nesciunt quo consectetur vel vitae nihil perspiciatis alias repellendus id, dignissimos pariatur expedita dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam adipisci illo eveniet voluptate tempore optio, id, numquam quidem, repellendus itaque blanditiis quam natus assumenda consectetur officia commodi laborum inventore voluptatibus!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quae eveniet eligendi aliquid esse corrupti, illo, fugit, asperiores voluptatum eaque exercitationem itaque sit. Molestiae porro id architecto tempore, necessitatibus quidem!</p>

        <h2>2. Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui, doloribus similique assumenda nostrum illum sequi ipsa beatae debitis culpa, earum officia consequatur iste dolor labore libero dolorem facere ut. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga sapiente facilis soluta, nihil nostrum et placeat. Cum, saepe. Atque deserunt facilis sequi necessitatibus earum amet ab cumque. Hic, distinctio iste.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates facilis accusamus pariatur aspernatur repellat autem tempore nesciunt atque magnam nobis ab fuga cum quod laudantium labore eaque eligendi, accusantium doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ea id eum magni alias excepturi voluptates hic saepe voluptate veritatis atque, ullam aliquam cumque incidunt at exercitationem voluptatibus ducimus dolores.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur tempora ab blanditiis amet alias veritatis odio quibusdam soluta nobis nihil magnam dolores eligendi reprehenderit omnis cum molestias quaerat, nulla dolor.</p>

        <h3>2.1 Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus quis voluptates nesciunt rerum odio delectus, distinctio quod quaerat ipsum et, sequi repellendus quisquam vero praesentium rem laborum tempora facilis. Id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum reiciendis amet voluptatibus facilis quisquam, accusantium aliquid id repellat magni ratione vel magnam! Quas quia cupiditate quam, voluptatem vero corrupti hic.</p>
    </main>
</body>
</html>