<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        img {
            border: 3px;
            border-color: black;
            border-style: dashed;
        }
    </style>
</head>
<body>
    <h1>BLOG 1</h1>
    <img src="https://sm.ign.com/t/ign_br/screenshot/default/icon-fo4-side-quest_tvjf.960.png" alt="Vault Boy de Fallout fazendo Joinha" width="200px" height="auto">
    <p>Tudo ok por aqui</p>
</body>
</html>